
@model IEnumerable<NineWebApp.Contracts.Person>

@{
    ViewData["Title"] = "Index";
}

<script>
 function SelectionChanged()
 {
     var e = document.getElementById("race");
     var selected = e.options[e.selectedIndex].value;
     var url = '@Html.Raw(Url.Action("Race", "Home"))';

     if (selected == "Select a race") {
         window.location = "home";
     }
     else {
         window.location = url + "/" + selected;
     }
    
 }
</script>

<h2>Index</h2>

@Html.DropDownList("Race",
                    new SelectList(Enum.GetValues(typeof(NineWebApp.Contracts.Enums.Race))),
                    "Select a race",
                    new { @class = "form-control" ,
                        id = "race",
                        onchange = "SelectionChanged()"
                    })

